body {
  font-family: Helvetica, Sans-Serif;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 80%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  text-align: left;
  vertical-align: bottom;
  padding: 10px;
  background-color: #BEBEBE;
}

td {
  text-align: left;
  vertical-align: text-top;
  padding: 10px;
}

.pad10 {
  padding: 10px;
}